/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.recipeView {
    width: 70%,
    margin: auto
},

.newRecipeForm {
    width: 70%;
    margin: auto;
}

.newRecipeForm > table {
    width: 100%;
}

.newIngredientForm > .ingredientSection, .newStepForm > input {
    float:left;
    margin: 10px;
}

.ingredientSection > button, .newStepForm > button {
    margin: 10px;
}

.recipeName {
    width: 100%;
    margin: 10px;
}

.clear {
    clear: both;
}

.ingredientsList, .stepsList {
    height: 200px;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
}

.createBtn {
    margin: 10px;
}

.listData {
    margin: 5px;
}